{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class='row'>
    <div class='col-5'>Username
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">City1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">City2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">City3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">City4</a>
            </li>
        </ul>
    </div>
    <div class='col-7'>
        <div class='col-5'>
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">City1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">City2</a>
        </ul>
        </div>
        <div class='col-12'>
            Posts
            <ul class="nav flex-column pills">
                <li class="nav-item">
                    <a class="nav-link " href="#">Title</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Title</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">City3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">City4</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}