{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class='row pt-5 px-3'>
      <div class='col text-white bg-dark' id="rounded"> 
          <ul class="nav flex-column nav-pills">
            {% for city in cities %}
            <li class="nav-item" id="pillitem">
              <div onclick="location.href='{{ city.id }}';" class='row' id="citypill">
              <img class="pic" src="{{ city.image }}" alt="">
              <a class="nav-link" href="/cities/{{ city.id }}">{{ city.name }}</a>
            </div>
          </li>
          {% endfor %}
          </ul>
      </div>
      <div class="col-8">
          <ul class="nav flex-column">
            {% for post in posts  %}
            <li class="nav-item text-white">
              <img class="rounded-sm pic" src="{{ post.image }}" alt="">
              <a class="nav-link" href="/posts/{{ post.id }}">{{ post.title }}</a>
              <p>{{ post.content }}</p>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
</div>
{% endblock %}
