body {
    background: #dedede;
}
.page-wrap {
    min-height: 100vh;
}

/*  Bootstrap Overrides */

.modal-backdrop {
    position:unset !important;
  }

.carousel-item {
    max-height: 400px !important;
}

.text-danger {
    color: #9a222e;
}


