/*  Bootstrap Overrides */
body {
    background-image: linear-gradient(to right, #1b161f, #10101a, #16141c) !important;
    color: #ccc;
}

.bg-secondary {
    background: none;
}

.container {
    background: none !important;
}

a {
    color: #ccc;
}

a:hover {
    color: #cc211f;
}

.modal-backdrop {
    position: unset !important;
}
  
.carousel-item {
    max-height: 500px !important;
    background-size: contain;
}
  
  
.bg-dark {
    background-image: linear-gradient(to right, #1b161f, #10101a, #16141c) !important;
}
  
.profile-pic {
    border-radius: 50%;
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
}
  
.profile-list {
    list-style-type: none;
    padding: 20px;
}
  
.col-5 {
    padding: 20px;
}
  

  
.pic {
    border-radius: 25px;
    max-height: 100px;
    max-width: 120px;
    width: 130px;
    height: 130px;
    object-fit: cover;
    padding: 10px;
}
    
.card {
    background: rgba(0, 0, 0, 0.2);
}

#button {
    border-radius: 50%;
    background-color: red;
    color: white
}

#rounded {
    border-radius: 25px;
}

#citypill {
    border-radius: 25px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.03);
}

#pillitem {
    padding: 10px 0px 0px 0px;
}

#citypill:hover {
    height: 130px;
}
  
.text-danger {
    color: white !important;
    font: Roboto !important;
}

.bg-dark {
    background-image: linear-gradient(to right, #1b161f, #10101a, #16141c) !important;
}

.profile-pic {
    border-radius: 50%;
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
}

.profile-list {
    list-style-type: none;
    padding: 20px;
}

.col-5 {
    padding: 20px;
}

.pic {
border-radius: 20%;
max-height: 130px;
max-width: 130px;
width: 130px;
height: 130px;
object-fit: cover;
}

.card {
    background: rgba(0, 0, 0, 0.2);
}
