<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  <section class="form-section">
    <form action="{% url 'register'%}" method="POST">
        {% csrf_token %}
        <p>
            <label for="username">User Name</label>
            <input type="text" name="username" maxlength="20" minlength="2" required>
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" name="password"  maxlength="20" minlength="7" required>
        </p>
        <p>
          <label for="password2">Confirm Password</label>
          <input type="password" name="password2"  maxlength="20" minlength="7" required>
        </p>
        <button type="submit">Sign Up</button>
      </form>
    </section>

       

