{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-5">
  <div class="card mb-3 mx-auto">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ post.image }}" class="card-img-top img-fluid" alt="{{ post.title }}">
      </div>
      <div class="col-md-7">
        <div class="card-header">
           {{ post.city }} Nightlife
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content }}</p>
          <small class="card-subtitle mb-2 text-muted">Author: {{ post.user.first_name }}{{ post.user.last_name}}</small><br>
          <small class="card-subtitle text-muted">Created: {{ post.created_at }}</small>
       
        </div>
        <div class="card-footer text-muted">
          <form class="mb-2" action="{% url 'post_edit' post.id %}" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="btn btn-regular btn-sm" type="submit" value="Edit">
          <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{ post.title }}?')" href="{% url 'post_delete' post.id %}">Delete</a>
          </form>
          <a class="text-white" href="/posts"><i class="fas fa-chevron-left"></i> Back to posts</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}